<h2>Ajouter un habitant</h2>

<form action="#" id="formCitizen">

    <fieldset>
        <legend>Personnalité</legend>

        <p>
            <label for="avatarName">Nom complet</label>
            <input type="text" id="avatarName" placeholder="Mini. 5 caractères">
        </p>

        <p>
            <label for="avatarAge">Âge</label>
            <input type="number" id="avatarAge" placeholder="Entre 1 et 100 ans">
        </p>

        <p class="labelGender">Genre</p>
        <p><input type="radio" id="avatarWoman" value="girl" name="gender">Femme</p>
        <p><input type="radio" id="avatarMan" value="boy" name="gender">Homme</p>

    </fieldset>

    <fieldset>
        <legend>Style</legend>

        <div>
            <label for="avatarStyleTop">En haut</label>
            <select id="avatarStyleTop">
                <option value="null" selected>--Sélectionner--</option>
                <option value="chemise">Chemise</option>
                <option value="hippie">Hippie</option>
                <option value="pullover">Pullover</option>
            </select>
        </div>
        
        <div>
            <label for="avatarStyleBottom">En bas</label>
            <select id="avatarStyleBottom">
                <option value="null" selected>--Sélectionner--</option>
                <option value="cuire">Cuire</option>
                <option value="jean">Jean</option>
                <option value="militaire">Militaire</option>
            </select>
        </div>

    </fieldset>

    <input type="submit" value="Ajouter">

</form>