<section>
        <h3>Statistique de votre ville</h3>
        <article>
            <h4>Population total</h4>
            <span id="totalSims"></span>
        </article>
        <article>
            <h4>Nombre de femmes</h4>
            <span id="simsWoman"></span>
        </article>
        <article>
            <h4>Nombre d'hommes</h4>
            <span id="simsMan"></span>
        </article>
        <article>
            <h4>Âge moyen</h4>
            <span id="simsAgeAmount">0<b> an</b></span>
        </article>
    </section>
    
    <section>
        <h4>Population de votre ville</h4>
        <table id="populationTable">
            <tr>
                <th>Nom</th>
                <th>Âge</th>
                <th>Genre</th>
                <th>Style</th>
            </tr>
        </table>
    </section>
    
    <aside>Under MIT Licence</aside>